.AnimalSummary__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  background-color: lightblue;
  color: black;
}

.top__summary {
  display: flex;
  justify-content: space-between;

}

.animal__name {
  font-size: x-large;
}

.image {
  background-color: cadetblue;
  width: 100px;
  height: 100px;
}

.readMore__button {
  display: flex;
  padding: 0.5rem;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
}
