.button__body {
  z-index: 20;
  font-size: 17px;
  min-width: 100px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  background: slategray;
  border-radius: 4px;
}

.button__body:hover {
  background: rgb(86, 119, 153);
  cursor: pointer;
}

.header__button {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../assets/icons/hammer-cog.png");
  background-size: 60px 60px;
}

.header__button > p {
  display: none;
}

.header__button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .button__body {
    font-size: 24px;
  }
}