.header__container {
  display: flex;
  align-items: center;
  padding: 24px 10px;
  background-color: rgb(44, 44, 44);
}

.header__headline {
  color: whitesmoke;
  margin: 0 60px;
  font-size: 32px;
  text-align: center;
  flex: 1;
}