.AnimalSummary__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  background-color: lightblue;
  color: black;
}

.top__summary {
  display: flex;
  justify-content: space-between;

}

.animal__name {
  font-size: x-large;
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  max-height: 200px;

}

.readMore__button {
  display: flex;
  padding: 0.5rem;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .top__summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .image {
      width: 85%;
  }
}